/* @override http://localhost/abb/guide/1/styles/global.css */

.widthIndicator {
	position: fixed;
	bottom: 0;
	font-size: 14px;
	background: #ccc;
	padding: 0 5px;
	z-index: 1000;
}

.test {
	background: #0cf !important; /* temp */
}

* {
	box-sizing: border-box;
}

html {
	font-family:'Abbvoice-Lt', sans-serif;
	font-size: 1em;
	line-height: 1.7;
}

body {
	margin-top: 60px;
}

figure {
	margin-bottom: 40px;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size: 2.5em;
	line-height: 1.4;
	color: #262626;
	margin-bottom: 50px;
	font-family: ABBvoice-Md, sans-serif;
}

h1:before {
	content: "";
	position: relative;
	display: block;
	border-top: 6px solid #ff000f;
	width: 48px;
	margin-bottom: 12px;
}

h2 {
	font-size: 1.5em;
	line-height: 1.5;
	color: #0076b7;
	margin-bottom: 20px;
}

h3, h4, strong, .strong, b {
	font-family:'ABBvoice-Md', sans-serif;
}

h3 {
	font-size: 1.125em;
	line-height: 1.6;
}

h4, h5, h6 {
	font-size: 1em;
}

strong, b {
	font-weight: normal;
}

em, i {
/* missing proper font */
}

a {
	color: #267bbd;
	word-wrap: break-word;
}

a:hover {
	text-decoration: none;
}

.nav .active {
	text-decoration: none;
	font-weight: 700;
}

ul, ol, p {
	margin: 0 0 20px 0;
}

ul ul {
	margin: 0;
	list-style: url("");
}

h1 sup {
	font-size: 14px;
}





/********************************************
nav general
********************************************/

nav ul {
	list-style: none;
	padding: 0;
	margin-top: 30px;
	margin-bottom: -20px;
}

nav a {
	text-decoration: none;
}

nav a:hover,
nav a.selected {
	color: #0aaeff;
	transition-duration: .1s;
}

.selected {
	font-family:'ABBvoice-Md', sans-serif;
}



/* temp fadeout non-links */
nav a:not([href*=shtml]) {
	color: #646464 !important;
}

.nav-sidebar {
	font-size: 14px;
}

/********************************************
inputs
********************************************/

button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	border: 1px solid #ddd;
	border-radius: 0;
	background-color: #fff;
	margin: 0;
	padding: 6px 16px;
	-webkit-appearance: none;
	cursor: pointer;
}

button.simple {
	border: none;
	padding: 0;
}





/********************************************
mainMenu
********************************************/

@media (min-width: 901px) {

	.mainMenu {
		display: flex;
		justify-content: space-between;
	}
	
	.mainMenu > ul {
		flex-basis: 25%;
	}
			
	.mainMenu > ul:not(:first-child) {
		margin-left: 20px;
		padding-left: 20px;
		border-left: 1px solid #ddd;
	}
	
	
}

.mainMenu > ul > li {
	margin-bottom: 20px;
}

.mainMenu a {
	display: block;
	margin-bottom: 10px;
}

.mainMenu a:hover {
	text-decoration: underline;
}

@media (min-width: 980px) {
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-left: 35%;
	}
}

/* top level */

.mainMenu > ul > li > a {
	font-family:'ABBvoice-Md', sans-serif;
}



/* level 2 */

.mainMenu ul ul  {
	font-size: .813em;
}

.mainMenu li li a {

}





/********************************************
header
********************************************/

header {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	right:0px;
	min-height: 48px;
	position: fixed;
	overflow: hidden;
	top: -80px; /* only affects fixed */
	z-index: 2;
	box-shadow: 0px 2px 1px rgba(0,0,0, 0.15);
	padding-top: 120px;
}

header .inner {
	padding: 0 5%;
}

header .upper {
	border-bottom: 1px solid #ddd;
	min-height: 48px;
}

header .logo {
	float: left;
	margin-top: 13px;
	position: relative;
	z-index: 1;
	text-decoration: none;
}

header .logo img {
	display: inline-block;
	height: 22px;
	margin-right: 18px;
}

/* span (title) */

header span {
	color: #666;
	position: relative;
	top: -6px;
}

header .logo:hover span {
	text-decoration: underline;
}

header span sup {
	font-size: 11px;
}

/* (menu) button */

header button {
	background: none;
	line-height: 1;
	border: none;
	padding: 15px 0;
	float: right;
	position: relative;
}

header button:after {
	content: "";
	background: url('../images/arrow_down.svg') no-repeat center;
	padding: 7px;
	margin-left: 8px;
	position: relative;
	top: 2px;
}

@media (max-width: 350px) {

	header span,
	header button {
		font-size: .750em;
	}

	header span {
		top: -6px;
	}

	header button {
		top: 2px;
	}
}



/* header mainMenu */

header .mainMenu {
	clear: both;
	overflow: hidden;
	transition: all .3s;
}

header.open {
	margin-bottom: 60px;
}

header:not(.open) .mainMenu {
	max-height: 0;
}

header.open .mainMenu {
	padding-top: 0px;
	padding-bottom: 40px;
}

@media (min-width: 901px) {
	header.open .mainMenu {
		max-height: 1000px;
	}
}

/********************************************
footer
********************************************/

footer {
	padding: 2px 2%;
	border-top: 1px solid #ddd;
	font-size: .750em;
	position: fixed;
	bottom: 0px;
	padding-bottom: 15px;
	width: 100%;
	background: white;
}

footer p {
	margin: 0;
}





/********************************************
main
********************************************/

main {
	padding: 0 5%;
	margin-bottom: 200px;
	min-height: 500px;
	margin-left: -140px;
}

@media (min-width: 901px) {

	main .inner {
		margin-left: 150px;
	}
}

main img {
}





/*******************************************
nav sub
********************************************/

nav.sub {

}

nav.sub ul {
	font-size: .813em;
	margin-top: 5px;
}

nav.sub li {
	display: inline-block;
	margin: 0 25px 10px 0;
}

nav.sub a {
	border-bottom: 1px solid transparent;
}

nav.sub li a:hover,
nav.sub li a.selected {
	border-color: #0076b7;
}

/* top item */

nav.sub > a {
	font-family:'ABBvoice-Md', sans-serif;
	color: #000;
}

nav.sub > a:hover,
nav.sub > a.selected {
	border-color: #000;
}





/*******************************************
headingLink, urlBox
********************************************/

.headingLink {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.headingLink:after,
.urlBox {
	font-family:'ABBvoice-Lt', sans-serif;
	font-size: .813rem;
}

.headingLink:after {
	content: "Link to this";
	line-height: 0;
	vertical-align: super;
	white-space: nowrap;
	margin-left: 10px;
	transition: all 1s;
	color: transparent;
}

.headingLink:hover:after,
.urlBox {
	color: #666;
}

.urlBox {
	display: block;
	padding: 3px 6px;
	margin-bottom: 10px;
	word-wrap: break-word;
	border: 1px dashed #aaa;
	color: #666;
}





/********************************************
numberSteps (used in 0101)
********************************************/

.numberSteps {
	color: #363636;
}

.numberSteps p {
	padding-left: 55px;
	position: relative;
}

.numberSteps span { 
	font-family: Abbvoice-Bd;
	font-size: 3.5rem;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 26px;
}





/********************************************
spacing and text variations
********************************************/

body main *.unspaced {
	margin-bottom: 0;
}

body main *.topSpaced1 {
	margin-top: 40px;
}

.intro {
	font-size: 1.125em;
	color: #828282;
	font-family: 'ABBvoice-Md', sans-serif;
}

.support { /* use for small text */
	font-size: .813em;
}

h3.spaced {
	margin-bottom: 10px;
}

article h3:not(:first-of-type) {
	padding-top: 20px;
}





/********************************************
links (list)
********************************************/

.links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.links li {
	margin-bottom: 15px;
}





/********************************************
do / dont
********************************************/

.do:before,
.dont:before {
	content: "";
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 10px;
}

.do:before {
	background-image: url('../images/icon_v.svg');	
}

.dont:before {
	background-image: url('../images/icon_x.svg');
}

p.do:before,
p.dont:before {
	padding: 7px;
	margin-right: 7px;
}





/********************************************
containers, width limiters etc
********************************************/

section {
	margin-bottom: 180px;
}

section > *,
section p {
	max-width: 700px;
}

@media (min-width: 901px) {

	.full,
	section h2 {
		margin-left: 0px;
	}

	.full {
		max-width: 1300px;
	}
	
	.wide {
		max-width: 1000px;
	}
}

section h2 {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-bottom: 40px;
	max-width: 860px;
}

article,
.intro,
.module {
	margin-bottom: 60px;
}

article.spaced1,
.module.spaced1 {
	margin-bottom: 100px;
}

article img,
.module img {
	margin-bottom: 20px;
}



/* note */

.note {
	background: #f0f0f0;
	padding: 20px;
	font-size: .9em;
}

.note h3 {
	margin-bottom: 20px;
}

.note p:only-child {
	margin: 0;
}





/*********************************************
rowGroup
*********************************************/

.rowGroup {
	font-size: .813em;
}

.rowGroup img {
	margin: 10px 0;
}

.rowGroup p {
	margin: 0;
}



/* row spacing */

.rowGroup > div {
	margin-bottom: 20px;
}

.rowGroup.spaced1 > div {
	margin-bottom: 40px;
}

.rowGroup.spaced2 > div {
	margin-bottom: 60px;
}

.rowGroup > div > div {
	margin-bottom: 40px; /*small screen */
}



/* narrow : used in 0301 */

.rowGroup.narrow > div {
	max-width: 400px;
}



@media (min-width: 901px) {

	/* column: div > div = column if exists*/
	
	.rowGroup > div > div { 
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0;
	}
	
	.rowGroup > div > div:not(:last-child) {
		margin-right: 5%;
	}	

	
	
	/* column width variations */
	
	.rowGroup > div > div {
		width: 47%; /* default half */
	}
	
	.rowGroup.split23 > div > div:first-child {
		width: 60%;
	}
	
	.rowGroup.split23 > div > div:last-child {
		width: 34%;
	}	
	
	.rowGroup.split34 > div > div:first-child {
		width: 70%;
	}
	
	.rowGroup.split34 > div > div:last-child {
		width: 24%;
	}



	/* custom1 : used in 0902, 0903 */
	.rowGroup.custom1 > div > div:last-child {
		margin-top: 20px;
	}
}





/********************************************
colGroup
*********************************************/

.colGroup > * {
	margin-bottom: 40px; /*small screen*/
}

.colGroup img {
	margin-bottom: 10px;
}



/* custom2: used in 0204 */

.colGroup.custom2 figure {
	background: #f0f0f0;
	margin-bottom: 20px;
	padding: 20px;
}

.colGroup.custom2 figure img {
	margin: auto;
}

.colGroup.custom2 strong {
	color: #0076b7;
	font-family: inherit;
}



@media (min-width: 901px) {

	.colGroup {
		margin-bottom: 60px;
	}

	.colGroup > * {
		display: inline-block;
		vertical-align: top;
		width: 47%; /* default split in half */
		margin-bottom: 0;
	}


	
	/* triple */
	
	.colGroup.triple > * {
		width: 29.5%;
	}
	
	.colGroup > *:not(:last-child) {
		margin-right: 5%;
	}
	
	
	
	/* split23 */
	
	.colGroup.split23 > div:first-child {
		width: 60%;
	}
	
	.colGroup.split23 > div:last-child {
		width: 34%;
	}
	
	
	
	/* split34 */
	
	.colGroup.split34 > div:first-child {
		width: 70%;
	}
	
	.colGroup.split34 > div:last-child {
		width: 24%;
	}



	/* x5 */
	
	.colGroup.x5 > * {
		font-size: .813em;
		width: 17%;
	}
	
	.colGroup.x5 > *:not(:last-child) {
		margin-right: 2%;
	}


	
	/* custom2: used in 0204 */
	
	.colGroup.custom2 figure {
		min-height: 200px;
		position: relative;
	}

	.colGroup.custom2 figure img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		max-width: 80%;
	}	
	
}





/********************************************
frontPage
********************************************/

.frontPage .inner {
	margin-left: 0;
}

@media (min-width: 901px) {

	.frontPage h1 {
		margin: 40px 0 100px;
	}
}

.frontPage header button,
.frontPage header .mainMenu {
	display: none;
}




/********************************************
introMenu (on level 0 / intro pages)
********************************************/

.introMenu > a {
	display: none; /* hide top level item */
}

.introMenu li {
	margin-bottom: 20px;
}

.introMenu a:before {
	content: "\2192";
	font-family: helvetica, arial, sans-serif;
	margin-right: 10px;
	position: relative;
	top: -1px;
}





/********************************************
nextPage link
********************************************/

.nextPage {
	text-decoration: none;
	transition: all .3s;
	position: relative;
	text-align: right;
}

.nextPage:hover {
	background: #0076b7;
	color: #fff;
}

.nextPage:after {
	content: "\2192";
	font-family: ABBvoice-Lt, arial, sans-serif;
	margin-left: 10px;
	position: relative;
	top: -1px;
}

.nextPage:before {
	content: "Next:";
	font-family: ABBvoice-Lt, sans-serif;
	margin-right: 10px;
}

/********************************************
previousPage link
********************************************/

.previousPage {
	text-decoration: none;
	transition: all .3s;
	position: relative;
	text-align: left;
}

.previousPage:hover {
	background: #0076b7;
	color: #fff;
}

.previousPage:before {
	content: "\2190  Previous:";
	font-family: ABBvoice-Lt, arial, sans-serif;
	margin-left: 10px;
	position: relative;
	top: -1px;
}

/********************************************
popup and pageFade
********************************************/

.popup,
.pageFade {
	display: none;
}

@media (min-width: 901px) {

	.popup,
	.pageFade {
		display: block;
	}

	.popup {
		position: absolute;
		z-index: 11;
		width: 95%;
		left: 2.5%;
		top: -1000px;
		margin-top: 60px;
		transition: all .5s;
	}

	.pageFade {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .55);
		z-index: 10;
	}
	
}





/********************************************
previews
********************************************/

.previews {
	max-width: none;
}

.previews > a {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #ddd;
	margin-bottom: 60px;
}

.previews > a:hover {
	border-color: #666;
}

.previews a img {
	width: 100%;
}

@media (min-width: 901px) {

	.previews > a {
		width: 29.5%;
		max-width: none;
		margin-right: 5%;
		min-height: 100px;
	}
	
	.previews > a:nth-child(3n) {
		margin-right: 0;
	}
	
}

#multiple-datasets .league-name {
	margin: 0 20px 5px 20px;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
}

.container-fluid{
	margin-top: 10px;
}








