/* @override http://localhost/abb/guide/1/styles/zStyle.css */

body {
	margin: 10px;
}

iframe {
	transform: scale(.2);
	transform-origin: top left;
	width: 1200px;
	height: 10000px;
	border: none;
}

.wrapper {
	white-space: nowrap;
}

.wrapper > div {
	width: 240px; /* dimensions match scale (20%) */
	height: 2000px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #ddd;
	overflow: hidden;
}
